@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-secondary btn-lg" asp-action="Create" asp-controller="Employees">
    <i class="bi bi-plus-circle-dotted"></i>
    Add Employee
</a>
<a class="btn btn-secondary btn-lg" asp-action="Index" asp-controller="Employees">
<i class="bi bi-plus-circle-dotted"></i>
    Details
</a>
<div class="text-center">
    <h1 class="display-4">Employee Department</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
